click==6.6
cycler==0.10.0
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.3
numpy==1.11.2
pydub==0.16.6
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
redis==2.10.5
scipy==0.18.1
six==1.10.0
Werkzeug==0.11.11
